/* Флекс классы */
.fb {
    display: flex;
}
.fb_c-ct {
    flex-direction: column;
    justify-content: center;
}
.fb_r-ct {
    flex-direction: row;
    justify-content: center;
}
.fb_c-sb {
    flex-direction: column;
    justify-content: space-between;
}
.fb_r-sb {
    flex-direction: row;
    justify-content: space-between;
}
.fb_c-sa {
    flex-direction: column;
    justify-content: space-around;
}
.fb_r-sa {
    flex-direction: row;
    justify-content: space-around;
}
.fb_c-fs {
    flex-direction: column;
    justify-content: flex-start;
}
.fb_r-fs {
    flex-direction: row;
    justify-content: flex-start;
}
.fb_c-fe {
    flex-direction: column;
    justify-content: flex-end;
}
.fb_r-fe {
    flex-direction: row;
    justify-content: flex-end;
}



/* Классы блоков */
.page {
    max-width: 1600px;
    margin: 0 auto;
}

.list {
    background-color: blanchedalmond;
    flex-basis: 30vw;
}
.ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 30vw;
}
.delete {}
.counter {}
.filter {}
.change {}
.pagination {}



/* Классы Миксеров */
.list__ul-pos {
    width: 100%;
    margin: 0 auto;
}



/* Классы элементов */
.ul__li {
    height: 15%;
}
.ul__li__id {
    align-self: flex-start;
}
.shadow-mask {
    display: none;
}
.light-mask {
    display: block;
}
.light-mask_flex {
    display: flex;
}
.li__div {
    height: 100%    ;
    min-width: 100px;
    background-color: bisque;
}
.add-button {}
.li__counter {}
.li__button {}
.li__input-text {}
.li__div__text {
    margin: 0 auto;
    min-width: 100px;
}
.li__input-cb {}
.li__input__area {}
.li__input-text_done {
    background-color: greenyellow;
}
.li__input-text_not-done {
    background-color: indianred;
}
.delete__done {}
.delete__select {}
.li__delete {}
.filter__all {}
.filter__done {}
.filter__not-done {}
.counter__done {}
.counter__not-done {}
.counter__all {}
.counter__done__num {}
.counter__not-done__num {}
.counter__all__num {}
.change__done {}
.change__not-done {}
.pagination__div {
    background-color: yellow;
}